.Weather {
  padding: 18px;
  max-width: 600px;
  display: block;
  margin: 30px auto;
  border: 2px solid #000000;
  background: url(./cloudy.jpg);
  border-radius: 7px;
  background-size: cover;
  font-family: "Raleway", sans-serif;
}

form {
  text-align: center;
  line-height: 30px;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

canvas {
  height: 60px;
  width: 60px;
  margin-right: 10px;
  display: inline-block;
}

.Temperature {
  font-weight: bold;
  font-size: 70px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}

.Unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

.weather-temperature {
  font-size: 18px;
  display: inline;
}
